body {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 23px;
	margin: 0;
	padding: 0;
	background: url(../../images/login/login_bg.jpg);
	color: #3b6e81;
}

span{
	font-size: 12px;
	color: red;
} 

td{
	height: 24px;
}

.second_body {
	margin: 0 auto;
	width: 330px;
	height: 243px;
	margin-top: 10%;
	padding-left: 300px;
	padding-top: 110px;
	background: url(../../images/login/login_panel.png) no-repeat;
	position: relative;
}

.title-zh {
	position: absolute;
	top: 50px;
	left: 400px;
	font-size: 26px;
	font-weight: 900;
	color: #0074a6;
}

.message {
	position: absolute;
	bottom: 80px;
	left: 312px;
	color: red;
}

.logo {
	position: absolute;
	left: 50px;
	top: 80px;
}

.login_button, .reset_botton {
	width: 58px;
	height: 26px;
	line-height: 26px;
	border: none;
	color: #FFF;
	font-weight: bold;
	background: url(../../images/login/login.jpg);
	margin-left: 15px;
}

.reset_botton {
	background: url(../../images/login/reset.jpg);
}